<h1>This Work</h1>

{% schema %}
  {

    "name": "Liquid Reference",

    "settings": [
      {
        "type": "text",
        "id": "liquid-ref",
        "label": "Heading"
      }
    ],
    "templates": [
      "index", "page", "product"
    ],
    "presets": [
      {
        "name": "Liquid Reference",
        "category": "Reference"
      }
    ]
  }
{% endschema %}